@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,SOFT,WONK@0,9..144,100..900,0,1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;


}

main {
    height: auto;
    max-width: 520px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.card {
    /*transform: scale(1.2);*/
    background-color: white;
    border-radius: 10px;
    display: flex;

}

.imagem img {
    height: auto;
    width: 100%;
    display: block;
    border-radius: 10px 0px 0px 10px;
}

.produto-info {
    width: 488px;
    padding-left: 25px;
    padding-right: 25px;
    /* padding: 10px; */
    display: flex
;
    flex-direction: column;
    /* line-height: 3.5; */
    justify-content: space-evenly;
    align-items: flex-start;}

.letra-perf {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 5px;
    color: hsl(228, 12%, 48%);
    /*transform: translateY();*/

}

.name-produto {
    font-weight: 500px;}
    /*transform: translateY(-20px);
    white-space: pre-wrap;*/

.name-produto h1 {

    font-family: "Fraunces", serif;
    font-size: 25px;
    line-height: 1.0;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 1;
}

.produto-descricao {
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    line-height: 1.5;
}

.valor {
    font-family: "Fraunces", serif;
    font-size: 28px;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.valor-antigo {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    margin-left: 15px;
    font-weight: normal;
}

.carinho {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:hsl(158, 42%, 18%);
    border-radius: 5px;
    width: 100%;
    height: 40px;
}

.carinho:hover {
        background-color: hsl(151, 36%, 37%);
        cursor: pointer;
    }

.carinho p {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: white;
    display: flex;
    align-items: center;
}

.carinho img {
    margin-right: 10px;
    height: 40%;
    display: flex;
}

/*mobile*/
@media (max-width: 768px)  {

    body {
        height: 100%;
        padding: 20px;

    }
    
    main {
    display: flex;  
    justify-content: center;
    align-items: center;
    height: auto;
   }

   .card {
    display: flex;
    flex-direction: column;
    width: 350px;
    min-width: auto;
    border-radius: 10px;
    /*overflow: hidden;
    background-color: transparent;*/
   }

   .imagem img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px 10px 0 0;
   }

   .produto-info {
    width: auto;
    height: 382.36px;
    min-height: 500px;
    }

    .letra-perf {
    font-size: 12px;
    }

    .name-produto {
    /*transform: translateY(-20px);
    white-space: pre-wrap;
    width: 200px;*/
    display: flex;
    }

    .name-produto h1 {

    font-family: "Fraunces", serif;
    font-size: 32px;
    line-height: 1.0;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 1;
    }

    .carinho {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:hsl(158, 42%, 18%);
    border-radius: 5px;

    }


    .carinho p {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: white;
    display: flex;
    align-items: center;
    }

    .carinho img {
    margin-right: 10px;
    height: 40%;
    display: flex;
    }

}